<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 定义日志文件的存储路径 -->
    <property name="APP_NAME" value="zsywish"/>
    <property name="LOG_HOME" value="/Users/zhangsongyang/logs/zsywish/" />

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg [(%L)] %n</pattern>
        </encoder>
    </appender>

    <!-- 文件输出 -->
    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${APP_NAME}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/${APP_NAME}.log.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <maxFileSize>1000MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{150} - %msg [(%L)] %n</pattern>
        </encoder>
    </appender>

<!--     这里替换成AspectLogbackAsyncAppender -->
<!--    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">-->
<!--&lt;!&ndash;        设置丢弃日志的阈值，0 表示不丢弃。&ndash;&gt;-->
<!--        <discardingThreshold>0</discardingThreshold>-->
<!--&lt;!&ndash;        设置异步队列的大小，默认为 256&ndash;&gt;-->
<!--        <queueSize>2048</queueSize>-->
<!--&lt;!&ndash;        这个元素用于指定是否在日志事件中包含调用者数据。 true: 如果设置为 true，则日志记录器会在日志事件中包含调用者的类名、方法名和行号等信息。 false: 如果设置为 false，则日志记录器不会包含这些信息。&ndash;&gt;-->
<!--        <includeCallerData>true</includeCallerData>-->
<!--&lt;!&ndash;        引用定义的文件 Appender。&ndash;&gt;-->
<!--        <appender-ref ref="FILE"/>-->
<!--&lt;!&ndash;        设置是否在队列满时阻塞，默认为 false，设置为 true 可以避免阻塞。&ndash;&gt;-->
<!--        <neverBlock>true</neverBlock>-->
<!--    </appender>-->

    <!-- 设置MyBatis的日志输出级别 -->
    <logger name="org.mybatis" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.apache.ibatis" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.example" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!-- 全局日志设置 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
